{{#unless newmessage}}
    <div class="messagefrom">
        <h3>From: {{#unless fromyou}}{{from}}{{else}}You{{/unless}}</h3>
        <h3>To: {{#if fromyou}}{{from}}{{else}}You{{/if}}</h3>
        <p>{{mess}}</p>
    </div>
{{/unless}}
<div class="messageto">
    <h3>From: You</h3>
    {{#unless newmessage}}
        <h3>To: <span class="to">{{from}}</span></h3>
    {{else}}
        {{#if contact}}
            <h3>To: {{contact}}</h3>
        {{else}}
            <h3>To: <span class="selected-recip"><input type="text" class="towhom" placeholder="typ contact"></span></h3>
            <div class="foundrecipcontainer"></div>
        {{/if}}
    {{/unless}}
    <textarea class="compose-textarea" placeholder="bericht samenstellen"></textarea>
    {{#if newmessage}}
        <button class="send-message-new">Versturen</button>
    {{else}}
        <button class="send-message">Versturen</button>
    {{/if}}
</div>