<div class="form form-{{type}}">
    <h1>{{typeCase}}</h1>
    <input type="email" class="{{type}}-email" placeholder="email...">
    <input type="password" class="{{type}}-password" placeholder="password...">
    <button class="{{type}}-submit">{{typeCase}}</button>
    <button class="{{alt}}-switch btn-alt">{{altCase}}</button>
</div>