<img src="https://firebasestorage.googleapis.com/v0/b/jonasstasseyns-eindopdracht.appspot.com/o/kot-images%2F{{image}}?alt=media&token=31ae837d-3696-40cb-ad79-c574e60bd790" class="kot-list-img">
<h1 class="kot-list-title">{{title}}</h1>
<p class="kot-list-description">{{description}}</p>
<h2>Eigenschappen</h2>
<table>
    <tr>
        <td class="property">Waarborg</td>
        <td class="value">{{prepay}}</td>
    </tr>
    <tr>
        <td class="property">Type</td>
        <td class="value">{{type}}</td>
    </tr>
    <tr>
        <td class="property">Oppervlakte</td>
        <td class="value">{{surface}}</td>
    </tr>
    <tr>
        <td class="property">Verdieping</td>
        <td class="value">{{floor}}</td>
    </tr>
    <tr>
        <td class="property">Aantal personen</td>
        <td class="value">{{residents}}</td>
    </tr>
    <tr>
        <td class="property">Toilet</td>
        <td class="value">{{toilet}}</td>
    </tr>
    <tr>
        <td class="property">Douche</td>
        <td class="value">{{shower}}</td>
    </tr>
    <tr>
        <td class="property">Bad</td>
        <td class="value">{{bath}}</td>
    </tr>
    <tr>
        <td class="property">Keuken</td>
        <td class="value">{{kitchen}}</td>
    </tr>
    <tr>
        <td class="property">Bemeubeld</td>
        <td class="value">{{furnished}}</td>
    </tr>
    <tr>
        <td class="property">Aantal koten in pand</td>
        <td class="value">{{kotcount}}</td>
    </tr>
    <tr>
        <td class="property">Kotbaas</td>
        <td class="value">{{owner}}</td>
    </tr>
</table>
<hr>
<h2 class="right">€{{rent}}</h2>