{{#each this}}
<div class="kot-swiper-container" id="{{@key}}">
    <img src="https://firebasestorage.googleapis.com/v0/b/jonasstasseyns-eindopdracht.appspot.com/o/kot-images%2F{{image}}?alt=media&token=31ae837d-3696-40cb-ad79-c574e60bd790" class="kot-list-img">
    <h1 class="kot-list-title">{{title}}</h1>
    <p class="kot-list-description">{{description}}</p>
    <div class="rate-container">
        <i class="fas fa-thumbs-up likedislike" id="{{@key}}"></i>
        <i class="fas fa-thumbs-down likedislike" id="{{@key}}"></i>
    </div>
</div>
{{/each}}